XRPL_SECRET=
NAMED_ACCOUNTS=[{"account_id":"", "private_key": ""}, {"account_id":"", "private_key":""}]
ALGORAND_MNEMONIC=
QUAI_PRIVATE_KEYS=["", ""]
QUAI_RPC_URL=
EVM_PRIVATE_KEYS=["", ""]
OG_TESTNET_RPC_URL=

ALEO_PRIVATE_KEYS=["", ""]