# Devnet
PRIVATE_KEYS=
# Mainnet
PRIVATE_KEYS=
SEPOLIA_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
BSC_RPC_URL=https://bsc-dataseed4.bnbchain.org
BASE_RPC_URL=https://mainnet.base.org
ODYSSEY_RPC_URL=https://node.dioneprotocol.com/ext/bc/D/rpc
BSC_TESTNET_RPC_URL=https://bsc-testnet-rpc.publicnode.com
ONE_INCH_AUTH_TOKEN=
ETHEREUM_RPC_URL=https://eth.llamarpc.com
ODYSSEY_TESTNET_RPC_URL=https://testnode.dioneprotocol.com/ext/bc/D/rpc
POLYGON_AMOY_RPC_URL=https://rpc-amoy.polygon.technology
POLYGON_RPC_URL=